body
{
	width: 1000;
	height:800;
	background: #ffffff;
	text-align:left;
}
.t1
{
		/*border:1px dashed red;添加边框样式（粗细为1px， 颜色为红色的实线）*/
		border-top:1px dashed grey;
		border-right:1px dashed grey; 
		border-left:1px dashed grey;
		border-bottom:1px dashed grey;
}
.t2
{
	border-right:1px dashed grey; 
}
.t3
{
	border-bottom:1px dashed grey;
}
a
{
	color: #000000;
}